---
import Blog from "../../layouts/Blog.astro";

const { slug } = Astro.params;
const response = await fetch(`https://super-edital-api-git-main-guilhermes-projects-31b64a2d.vercel.app/posts/${slug}`);
const json = await response.json();
const post = json.post;
---

<Blog
  title=`Super Edital - ${post.title}`
  description={post.header}
>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
      <li class="breadcrumb-item active" aria-current="page">{post.title}</li>
    </ol>
  </nav>

  <div set:html={post.text}></div>
</Blog>