---
import SituationBullet from "./util/SituationBullet.astro";

const { contest } = Astro.props;

const situationColors = {
  aberto: 'success',
  autorizados: 'warning',
  previstos: 'info',
  default: 'muted'
};

const situationColor = situationColors[contest.situation.toLocaleLowerCase()] || situationColors.default;
---

<div class="col-12 col-lg-3 mb-3">
	<div class="card shadow">
        {contest.hot && (
            <div class="card-featured">
                <i class="fa-solid fa-star"></i>
            </div>
        )}
		<div class="card-header border-0">
			<div class="d-flex justify-content-between align-items-center">
				<div>
                    <SituationBullet contest={contest} />
                </div>
			</div>
		</div>
		<div class="card-body text-center">
            <div class="card-body-text">
			    <a href={ `/concursos/${contest.slug}`} class="h5 d-block my-6">
                    <span class="truncate">{contest.title}</span>
                </a>
            </div>
			<div class="d-flex justify-content-between mt-8 px-4"><a href="#" class="px-2 text-muted text-primary-hover"><i class="bi bi-clipboard-data"></i> </a><a href="#" class="px-2 text-muted text-primary-hover"><i class="bi bi-people"></i> </a><a href="#" class="px-2 text-muted text-primary-hover"><i class="bi bi-trash"></i></a></div>
			<hr class="my-7">
			<div class="row justify-content-between align-items-center">
					<div class="col-6"><span class="d-block h6 text-heading mb-0">{contest.sallary}</span> <span class="d-block text-sm text-muted">Salário</span></div>
					<div class="col-6"><span class="d-block h6 text-heading mb-0">{contest.vacancies}</span> <span class="d-block text-sm text-muted">Vagas</span></div>
			</div>
		</div>
	</div>
</div>

<style>
	.card {
    --x-card-spacer-y: 1.5rem;
    --x-card-spacer-x: 1.5rem;
    --x-card-title-spacer-y: 1.5rem;
    --x-card-border-width: 1px;
    --x-card-border-color: #e7eaf0;
    --x-card-border-radius: .75rem;
    --x-card-box-shadow: ;
    --x-card-inner-border-radius: calc(.75rem - 1px);
    --x-card-cap-padding-y: 1.25rem;
    --x-card-cap-padding-x: 1.5rem;
    --x-card-cap-bg: transparent;
    --x-card-cap-color: #16192c;
    --x-card-height: ;
    --x-card-color: #525f7f;
    --x-card-bg: #fff;
    --x-card-img-overlay-padding: 1rem;
    --x-card-group-margin: .75rem;
    min-width: 0;
    height: var(--x-card-height);
    word-wrap: break-word;
    background-color: var(--x-card-bg);
    border: var(--x-card-border-width) solid var(--x-card-border-color);
    border-radius: var(--x-card-border-radius);
    box-shadow: var(--x-card-box-shadow);
    background-clip: border-box;
    flex-direction: column;
    display: flex;
    position: relative;
    overflow: hidden;
	}
	.card-header {
    /* padding: var(--x-card-cap-padding-y) var(--x-card-cap-padding-x); */
    color: var(--x-card-cap-color);
    background-color: var(--x-card-cap-bg);
    border-bottom: var(--x-card-border-width) solid var(--x-card-border-color);
    margin-bottom: 0;
    }
    .card-body a {
        text-decoration: none;
    }
    .card-min-size {
    min-width: 200px;
    }
    .card-body {
        min-height: 230px;
    }
    .card-body-text {
        min-height: 100px;
    }
    .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 4; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .card-featured {
        position: absolute;
    z-index: 99;
    background: #e52c04;
    color: var(--bs-white);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    text-align: center;
    top: -8px;
    right: -48px;
    width: 120px;
    padding: 16px 0 3px 0;
</style>